/*
!/db
!/wp-content
/wp-content/*
!/wp-content/uploads
!/wp-content/themes
/wp-content/themes/*
!/wp-content/themes/abb
!/wp-content/plugins
/wp-content/plugins/*
!/wp-content/plugins/advanced-custom-fields

node_modules
package-lock.json
dist

!.gitignore
!docker-compose.yaml
!db/backup.sql
!db_backup
!db_restore
!up
!down
!README.md