html,
button,
input,
select,
textarea {
	color: $text-color-dark;
	font-family: $base-font-family;
}

body {
	background: $base-bg;
	font-size: $base-font-size;
	line-height: 1.5;
}

a {
	color: $text-color-dark;
	text-decoration: none;
}

img {
	display: block;
}

.main {
	overflow-x: hidden;

	@media (max-width: map-get($breakpoints, "desktop")) {
		padding-top: $header-height;
	}
}

.container {
	max-width: $container-width + ($container-padding * 2);
	margin: 0 auto;
	padding: 0 $container-padding;
}

.button {
	text-transform: uppercase;
	display: inline-block;
	padding: 18px 32px;
	border-radius: 30px;
	font-weight: 700;
	line-height: 1.25;
	color: $text-color-bright;
	background: $primary-color;
	border: none;
	transition: background-color 0.2s;

	@include link-hover(background-color, $primary-color, -3%, -8%);

	@media (max-width: map-get($breakpoints, "desktop")) {
		padding: 16px 28px;
	}
}

.icon {
	display: block;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}

//fix mobile wpadminbar with fixed header
@media screen and (max-width: 600px) {

	#wpadminbar {
		position: fixed;
	}
}
