.hero {
	color: $text-color-bright;
	position: relative;

	&__image {
		display: block;
		width: 100%;
		height: auto;
		max-height: $hero-height;
		min-height: $hero-height * 0.75;
		object-fit: cover;
	}

	&__content {
		position: absolute;
		top: 45%;
		font-size: $h1-font-size;
		line-height: 1.25;
		text-shadow: 0 3px 6px #00000029;
	}

	&__heading {
		font-weight: 700;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			top: -25px;
			width: 48px;
			height: 6px;
			background: $primary-color;
		}
	}

	@media (max-width: map-get($breakpoints, "desktop")) {

		&__content {
			font-size: $h1-font-size-mobile;
			top: 25%;
		}
	}
}
