.social-menu {

	&__container {
		display: flex;
	}

	&__item:not(:last-child) {
		margin-right: 10px;
	}

	&__link {
		display: block;

		.icon {
			font-size: 32px;
		}

		color: $text-color-bright;

		@include link-hover(color, $text-color-bright, -10%, -20%);
	}

	@media (max-width: map-get($breakpoints, "desktop")) {

		margin-bottom: 12px;
	}
}
